.confirmation-banner{
    background-image: url(https://www.seekpng.com/png/detail/854-8541332_balloons-transparent-background-free-download-best-party-cartoons.png);
    width: 100%;
    background-size: 100% 100%;
}

.confirmation-text{
    
}